<h3>Add a New Contact</h3>

<form action="/contact_added" method="post">
  <label for="contactName">Name</label>
  <input id="contactName" name="contactName">
  <label for="contactPhone">Phone Number</label>
  <input id="contactPhone" name="contactPhone">
  <label for="contactAddress">Address</label>
  <input id="contactAddress" name="contactAddress">
  <button type="submit">Create Contact</button>
</form>
