<h2>Contacts</h2>

<ul>
@foreach (var contact in Model.GetList()) {
  <li>this.GetName()</li>
  <li>this.GetPhone()</li>
  <li>this.GetAddress()</li>
  <br>
}
</ul>
<a href="/new-contact">Add Contact</a>
