<h2>Contacts</h2>

<ul>

@foreach (var contact in Model)
{
  <li>@contact.GetName()</li>
  <li>@contact.GetPhone()</li>
  <li>@contact.GetAddress()</li>
  <br>
}

</ul>
<a href="/new_contact">Add Contact</a>
<form action="/contacts_cleared" method="post">
  <button type="submit" name="button">Clear All Contacts</button>
</form>
